
# Dependencies
/node_modules

# Environment variables
.env

# Uploads from multer
/uploads/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDEs and editors
.vscode/
.idea/

# Operating system files
.DS_Store

